*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(27deg, black 50%, purple 50%);
}
.form-body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(27deg, black 50%, purple 50%);
}
.form-label{
  color: black;
}
.text{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin-bottom: 25px;
}

.card{
  width: 380px;
}