*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(255, 255, 255);
  min-height: 100vh;
}

.form-body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(245, 245, 245);
}

.form-label{
  color: black;
}

.text{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin-bottom: 25px;
}

.card{
  width: 380px;
}


.navbar-custom {
  width: 100%;
  background-color: #1b0034; /* morado oscuro */
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}


.container {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  color: rgb(255, 255, 255);
}

.btn-primary-custom {
  background-color: #6a00ff;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: 0.2s;
}

.btn-primary-custom:hover {
  background-color: #5200c7;
}

.card-custom {
  background: rgba(60, 0, 128, 0.808);
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(3px);
  color: white;
}

table th {
  background: rgba(255,255,255,0.2);
  padding: 10px;
  font-weight: bold;
}

table td {
  padding: 10px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
